{
  "presets": [
    "babel-preset-gatsby",
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [["@babel/plugin-transform-react-jsx", { "runtime": "automatic" }]]
}
